In [92]:
import pandas as pd
df=pd.read_csv("India_menu.csv")
df.head(3).style.hide(axis='index').format(precision=2)

### Top 5 Cholesterol-ridden Item

In [87]:
df2 = df.nlargest(5,['Cholesterols (mg)'])[['Menu Items','Cholesterols (mg)']]
df2.style.hide(axis='index').format(precision=2)

### Most Protein-rich Items

In [27]:
df1=df[df['Protein (g)']>30.0][['Menu Category','Menu Items','Protein (g)']]
df1.style.hide(axis='index')

### Items with most protein and least cholesterol

In [60]:
df1 = df.sort_values(['Protein (g)','Cholesterols (mg)'],ascending=False)[['Menu Category','Menu Items','Protein (g)','Cholesterols (mg)']].head(5)
df1.style.hide(axis='index')

### Top 5 Energy-rich items

In [76]:
df1 = df.nlargest(5,['Energy (kCal)'])[['Menu Items','Energy (kCal)']]
df1.style.hide(axis='index')

### Best items to consume [Most Protein | Least Cholesterol | Total Fat ]

In [91]:
df1 = df.sort_values(by=['Protein (g)','Cholesterols (mg)','Total fat (g)'],ascending=[False,True,True])
df1[['Menu Items','Protein (g)','Cholesterols (mg)','Total fat (g)']].head(5).style.hide(axis='index').format(precision=2)

### Energetic Drinks with Least Sugar

In [85]:
df1 = df[df['Per Serve Size'].str.contains('ml')][['Menu Items','Energy (kCal)','Total Sugars (g)']]
df2 = df1.sort_values(by=['Energy (kCal)','Total Sugars (g)'],ascending=[False,True]).head(5)
df2.style.hide(axis='index').format(precision=2)

### Options for Tea in McDonald's

In [68]:
df1 = df.loc[df['Menu Category'].str.contains('McCafe') & df['Menu Items'].str.contains('Tea')][['Menu Category','Menu Items','Per Serve Size']]
df1.style.hide(axis='index')